<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
   	   
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/spring/context-*.xml
        </param-value>
    </context-param>
   	   
	 <context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>log4j.properties</param-value>
	 </context-param>
	 
	 <servlet>
	    <description>Main Servlet이며, 모든 요청은 여기로 들어온다.</description>
	    <display-name>HomeServlet</display-name>
	    <servlet-name>HomeServlet</servlet-name>
	    <servlet-class>com.ssangyong.soa.servlet.HomeServlet</servlet-class>
	 </servlet>  
	 
	 <servlet>  
         <description>Admin Login</description>
         <display-name>AdminLoginServlet</display-name>
         <servlet-name>AdminLoginServlet</servlet-name>  
         <servlet-class>com.ssangyong.soa.servlet.AdminLoginServlet</servlet-class>           
     </servlet>  
	 
   	 <servlet-mapping>
	 	<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/HomeServlet</url-pattern>
	 </servlet-mapping>	
    
     <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
     </servlet-mapping>
	
	 <welcome-file-list>  
	 	<welcome-file>index.jsp</welcome-file>  
	 </welcome-file-list>  
   
</web-app>  