<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Full E-BOM to Process Engineer"
            id="com.kgm.commands.ifpe.TcToPeInterfaceCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.kgm.commands.ifpe.TcToPeInterfaceCommand"
            class="com.kgm.handler.PeInterfaceHandler">
      </handler>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.symcbop.commands.ifpe.TcToPeInterfaceCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   -->
   
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="BOP"
               id="com.symcbop.bop">
            <command
                  commandId="com.kgm.commands.ifpe.TcToPeInterfaceCommand"
                  mnemonic="S"
                  id="ifpe.TcToPeInterfaceCommand">
				<visibleWhen
                     checkEnabled="true">
                  <and>
                  
                     <reference
                           definitionId="com.teamcenter.rac.cme.mpp.inMainView">
                     </reference>
                     
                     <with
                           variable="rac_command_suppression">
                        <not>
                           <iterate
                                 operator="or">
                              <equals
                                    value="com.kgm.commands.ifpe.TcToPeInterfaceCommand">
                              </equals>
                           </iterate>
                        </not>
                     </with>
                  </and>
               </visibleWhen>                  
            </command>
         </menu>
      </menuContribution>
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ActionTester.toolbars.sampleToolbar">
            <command
                  commandId="ActionTester.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="ActionTester.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      
   </extension>
   -->
</plugin>
